Django==5.0.4
djangorestframework==3.15.1
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.10
python-decouple==3.8
openpyxl==3.1.5
python-barcode==0.16.1
qrcode==8.2
Pillow==11.1.0
gunicorn==25.1.0
dj-database-url==3.1.2
whitenoise==6.12.0
